@charset "UTF-8";

html {
  scroll-behavior: smooth;
}

body {
  letter-spacing: 0.1em;
  line-height: 1.7;
  font-family: 'Noto Sans JP', sans-serif;
  margin: 0;
  background-color: #b7a692;
  min-height: 100vh;
  /* bodyでの中央寄せを削除し、ポジションの基準とします */
  position: relative;
  overflow: hidden;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;        /* 縦帯の横幅（お好みで調整してください） */
  height: 100vh;       /* これでヘッダーの色が画面の「上から下まで」伸びます */
  z-index: 10;
  padding: 20px;
  box-sizing: border-box;
  
  background-color: #01151f; 
  /* もし真っ黒にしたい場合は background: #000; にしてください */
}

header div {
  height: 100%;        /* 100vhの高さをいっぱいに使う */
  display: flex;
  flex-direction: column;
  
  /* ==== ここがポイント！ ==== */
  justify-content: center; /* 中身のコンテンツ（ロゴとナビ）を「上下中央」に寄せる */
  align-items: flex-start; /* 左寄せ */
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 10px 0 0 0;  /* ロゴとメニューの間隔 */
  display: flex;
  flex-direction: column; /* メニューも縦並びにする */
  gap: 10px;
}

header nav ul li a {
    font-size: 16px;
  display: block;
  color: #fff; /* 背景が黒なので文字を白に変更 */
  text-decoration: none;
  line-height: 1;
  padding: 10px;
  border-bottom: 1px solid transparent;
  transition: 0.4s;
}

header nav ul li a:hover {
  border-bottom: 1px solid #fff;
}

.logo {
  width: 100px;
}

footer {
  position: absolute;
  bottom: 0;          /* 画面の一番下に固定 */
  left: 0;
  width: 100%;        /* 横幅いっぱいに広げる */
  text-align: center; /* フッター内の文字を中央寄せに */
  padding: 20px 0;
  color: #fff;        
  z-index: 10;
}
